<template name="world_map">


        <div class="row" id="world_map">
            <div class="col-lg-3" style="padding-left:25px; padding-top:10px;">
                <h3 style="color:white;">Market shares <span><a href="" id="set_to_world">World</a></span></h3>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td style="width:50%">
                                        Region: <strong id="regionHolderValue">{{waiting_region_name}}</strong>
                                    </td>
                                    <td style="width:50%">
                                        <strong>Trend: </strong> <span class="label label-{{trend_type}}" style="float:right">{{waiting_region_trend}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50%">
                                        People: <strong id="shareHolderValue">{{waiting_region_people}}</strong>
                                    </td>
                                    <td style="width:50%">
                                        <div class="stat-percent font-bold text-{{demand_type}}">{{waiting_region_demand}}% <i class="fa fa-level-{{arrow_demand_type}}"></i></div><strong>Demand: </strong>
                                    </td>
                                 </tr>
                                <tr>
                                    <td style="width:50%">
                                        Pref: <strong id="shareHolderValue">{{waiting_region_pref}}</strong>
                                    </td>
                                    <td style="width:50%">
                                        <div class="stat-percent font-bold text-{{market_type}}">{{waiting_region_market}}% <i class="fa fa-level-{{arrow_market_type}}"></i></div><strong>Market: </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50%">
                                        Price: <strong id="shareHolderValue">{{waiting_region_price}}</strong>
                                    </td>
                                    <td style="width:50%">
                                        Profit: <strong id="shareHolderValue">{{waiting_region_profit}}</strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            User: <strong>{{player_name}}</strong>
                        </div>
                        <div class="col-md-6">
                            Balance: <strong>$ {{player_balance}}</strong>
                        </div>
                    </div>
                {{#if has_region}}
                    {{#if in_region}}
                        <hr>
                        <div class="row">
                            <div class="col-md-2" style="color:white;">
                              Region: <br><strong id="regionHolderValue">{{selected_region_name}}</strong>
                            </div>
                            <div class="col-md-2" style="color:white;">
                              People: <br><strong id="shareHolderValue">{{region_people}}</strong>
                            </div>
                            <div class="col-md-2" style="color:white;">
                              Share: <br><strong id="shareHolderValue">{{region_share}}%</strong>
                            </div>
                            <div class="col-md-2" style="color:white;">
                              Profit: <br><strong id="profitHolderValue">${{region_profit}}</strong>
                            </div>
                            <div class="col-md-3" style="color:white;">
                              <!-- Price: <br> -->
                              <button class="btn btn-primary btn-sm" id='buyShare' {{disabled}}>$ {{region_price}}</button>
                            </div>
                        </div>
                    {{else}}
                        <hr>
                        <div class="row">
                            <div class="col-md-3" style="color:white;">
                              Region: <br><strong id="regionHolderValue">{{selected_region_name}}</strong>
                            </div>
                            <div class="col-md-5" style="color:white;">
                              <strong>You do not have a branch here.</strong>
                            </div>
                            <div class="col-md-4" style="color:white;">
                              Branch: <br>
                              <button class="btn btn-primary btn-xs" id='buyBranch'>$ {{branch_price}}</button>
                            </div>
                        </div>
                    {{/if}}
                {{else}}
                    <hr>
                    <div class="row">
                        <div class="col-md-12" style="color:white;">
                          <strong>You should select start region.</strong>
                        </div>
                    </div>
                {{/if}}
                <hr>
                {{#each shares}}
                    <h5 style="color:white;">{{player.username}}</h5>
                    <div class="progress progress-mini">
                        <div style="width: {{player_share}}%; background-color:{{player_color}};" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class="progress-bar progress-bar-success">
                            <span class="sr-only">{{player_share}}% Complete (success)</span>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="col-lg-9">
                    <div id="holder_1000">
                        {{map}}
                        {{#each regions}}
                        <div id="{{region_name}}" style="display:none; position:absolute;">
                            <button class="btn btn-md btn-primary" id="choose">Choose {{region_name}}</button>
                        </div>
                        {{/each}}
                    </div>
            </div>
        </div>


</template>