<template name="world_info">
  <!-- <div class="wrapper wrapper-content animated fadeInUp"> -->
    <div class="row">
            <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                    <h3>Market shares: <strong>World</strong></h3>
                                    <div class="hr-line-dashed"></div>
                                    {{#if players}}
                                        {{#each players}}
                                            <h5>{{player.username}}</h5>
                                            <div class="progress progress-mini">
                                                <div style="width: {{player_share}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class="progress-bar progress-bar-primary">
                                                    <span class="sr-only">{{player_share}}% Complete (success)</span>
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{else}}
                                        <h3>No players on the map.</h3>
                                    {{/if}}

                                    <!-- <h5>Player #1</h5>
                                    <div class="progress progress-mini">
                                        <div style="width: 35%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar" class="progress-bar progress-bar-success">
                                            <span class="sr-only">35% Complete (success)</span>
                                        </div>
                                    </div>

                                    <h5>Player #2</h5>
                                    <div class="progress progress-mini">
                                        <div style="width: 43%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" role="progressbar" class="progress-bar">
                                            <span class="sr-only">43% Complete (success)</span>
                                        </div>
                                    </div>

                                    <h5>Player #3</h5>
                                    <div class="progress progress-mini">
                                        <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>

                                    <h5>Player #4</h5>
                                    <div class="progress progress-mini">
                                        <div style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar progress-bar-danger">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div> -->
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                    <h3>Regions</h3>
                                    <table class="table table-stripped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Region</th>
                                                <th>Data</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each regions}}
                                                <tr>
                                                    <td>{{region_id}}</td>
                                                    <td>{{region_full_name}}</td>
                                                    <td>
                                                        <!-- <span class="pie" style="display: none;">1/5</span> -->
                                                        {{>peity chart="pie" data=values}}
                                                    </td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i> {{region_demand}}% </td>
                                                </tr>
                                            {{/each}}
                                            <!-- <tr>
                                                <td>1</td>
                                                <td>Europe</td>
                                                <td><span class="pie" style="display: none;">0.52,1.041</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> 40% </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>North America</td>
                                                <td><span class="pie" style="display: none;">226,134</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 1 1 2.2452815972907922 13.55726696367198 Z" fill="#1ab394"></path><path d="M 8 8 L 2.2452815972907922 13.55726696367198 A 8 8 0 0 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                                                <td class="text-warning"> <i class="fa fa-level-down"></i> -20% </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Asia</td>
                                                <td><span class="pie" style="display: none;">0.52/1.561</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> 26% </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>South America</td>
                                                <td><span class="pie" style="display: none;">0.52,1.041</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"></path><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                                                <td class="text-navy"> <i class="fa fa-level-up"></i> 40% </td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Oceania</td>
                                                <td><span class="pie" style="display: none;">226,134</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 1 1 2.2452815972907922 13.55726696367198 Z" fill="#1ab394"></path><path d="M 8 8 L 2.2452815972907922 13.55726696367198 A 8 8 0 0 1 7.999999999999998 0 Z" fill="#d7d7d7"></path></svg></td>
                                                <td class="text-warning"> <i class="fa fa-level-down"></i> -20% </td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>


            <div class="col-lg-5">
                <!-- <div class="ibox">
                    <div class="ibox-content"> -->
                        <div id="sunburst">
                            <form>
                                <label><input type="radio" name="mode" value="size"> Size</label>
                                <label><input type="radio" name="mode" value="count" checked> Count</label>
                            </form>
                        </div>
    <!--                 </div>
                </div> -->
            </div>


            <div class="col-lg-3">
                    <!-- <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <img src="House_Stark.png" class="img-responsive">
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                                <h1 style="text-align: center;"><strong>Russia</strong></h1>
                                <h4 style="text-align: center;">Moscow</h4>
                                <!-- <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                                </p> -->
                                <div class="row m-t-lg">
                                    <div class="col-md-6 text-center">
                                        <h5><strong>146M</strong> Population</h5>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h5><strong>$1.23T</strong> GDP</h5>
                                    </div>
                                </div>
                                <!-- <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                    <table class="table" style="margin-top:20px;">
                      <tbody>
                        <tr>
                          <td><strong>Market</strong></td>
                          <td>
                            <div class="font-bold text-danger">25% <i class="fa fa-level-down"></i></div>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Demand</strong></td>
                          <td>
                            <div class="font-bold text-danger">25% <i class="fa fa-level-down"></i></div>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Trend</strong></td>
                          <td>
                            <span class="label label-info">Social</span>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Internet using</strong></td>
                          <td>
                            <span class="label label-primary">High</span>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Infrastructure</strong></td>
                          <td>
                            <span class="label label-danger">Low</span>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Intellectual property rights</strong></td>
                          <td>
                            <span class="label label-danger">Low</span>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Invest climate</strong></td>
                          <td>
                            <span class="label label-danger">Low</span>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Taxes</strong></td>
                          <td>
                            <span class="label label-warning">Medium</span>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Economic regulations</strong></td>
                          <td>
                            <span class="label label-danger">High</span>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Burocracy</strong></td>
                          <td>
                            <span class="label label-danger">High</span>
                          </td>
                        </tr>
                        <tr>
                          <td><strong>Unemployment</strong></td>
                          <td>
                            <span class="label label-warning">Medium</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- <div class="text-center m-t-md">
                        <a href="#" class="btn btn-xs btn-primary">Add contact</a>
                        <a href="#" class="btn btn-xs btn-primary">Report contact</a>
                    </div> -->
                    </div>
                    </div>
            </div>
        </div>
    <!-- </div> -->
</template>